/* You can add global styles to this file, and also import other style files */
.container {
    display:inline-flex;
    margin: 20px;
    padding: 20px;
     
  }
  .container app-sidenav {
    margin-right: 20px; /* Adds space between the components */
  }

  .sidebarTabel {
    width: 100%; /* Ensure the table takes full width of its container */
    text-align: center; /* Center the text within the table cells */
    padding: 10px; /* Add padding to the table */
    margin-top: 15px;
   
  }

  .sidebarTabel td {
    font-size: 18px; /* Increase font size */
    padding: 20px; /* Add additional padding within each cell */
  }

  .sidebarTabel td :hover{
   color: blue;
  }
  .col-sm-2 {
    width: 15vw; /* 20% of the viewport width */
  }

  
 