<div class="col-sm-2 bg-light text-dark vh-100 ">
    <h4 class="pt-3 text-center">Food Menu</h4>
    <table class="sidebarTabel ">
        <tbody>
            <tr>
                <td><a class="nav-link" [routerLink]="['/biryani']" routerLinkActive="active">Biryani</a></td>

            </tr>
            <tr>
                <td><a class="nav-link" [routerLink]="['/chicken']" routerLinkActive="active">Chicken</a></td>
            </tr>
            <tr>
                <td><a class="nav-link" [routerLink]="['/motton']" routerLinkActive="active">Motton</a></td>
            </tr>
            <tr>
                <td><a class="nav-link" [routerLink]="['/fish']" routerLinkActive="active">Fish</a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="javascript:void(0)">Prawn</a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="javascript:void(0)">Drinks's</a></td>
            </tr>

        </tbody>
    </table>

</div>
<router-outlet></router-outlet>