<div class="container">
  <app-sidenav></app-sidenav>
  <div class="row justify-content-center">
    <div class="col-md-4" *ngFor="let item of filteredBiryaniItems">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ item.image }}" alt="{{ item.name }}"> <!-- Adding img-fluid class for responsive images -->
        <div class="card-body">
         <p class="card-title">{{ item.name }}</p>
          <p class="card-text">Cost: {{ item.cost }}</p>
          <!-- <p class="card-text">Preparation Time: {{ item.preparationTime }}</p> -->
          <div class="text-center">
            <button (click)="addToCart($event)"class="btn btn-sm btn-primary">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


